<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img v-bind:src="image" :alt="imageAlt" />
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <h2>{{ desc }}</h2>
            <p v-if="inventory > 11">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost out of stock</p>
            <p v-else>Out of Stock</p>
            <p v-if="onSale"><strong>On Sale</strong></p>

            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <p v-for="variant in variants" :key="variant.variantID">
              <span @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</span>
            </p>

            <h3>Size</h3>
            <ul>
              <li v-for="size in sizes">{{ size }}</li>
            </ul>

            <button v-on:click="addToCart">Add to Cart</button>
            <button v-on:click="removeFromCart">Remove from Cart</button>

            <div class="cart">
              <p>Cart: ({{ cart }})</p>
            </div>

            <p>Made with <a :href="mwLink">Vue JS</a></p>
        </div>
      </div>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/main.js" async defer></script>
  </body>
</html>